<main class="content">
    <div class="task">
        <img src="{{question?.url}}" alt="{{question?.title}}">
    </div>
    <section class="answer-page">
        <div class="progress-bar {{isCorrect ? 'correctly' : 'wrong'}}">
        </div>
        <div class="answer">
            <p>{{question?.id}}/3 {{question?.title}}</p>
            <p>{{question?.description}}</p>
            <form [formGroup]="form" class="answer-form">
                <label *ngFor="let option of question?.options">
                    <input type="radio" value="{{option}}" formControlName="option">
                    <span>{{option}}</span>
                </label>
            </form>
        </div>
        <div *ngIf="submit" class="answer">Correct answer is: {{question?.answer}}</div>
        <div class="btn">
            <button class="btn-submit" (click)="submitOn()">Submit</button>
            <button class="btn-next" (click)="nextQuestion()">Next</button>
        </div>
    </section>
</main>