<div class="question-header">
    <div class="toggle-button" (click)="toggleButton()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="question-number">
        <p>Question number: 3</p>
    </div>
    <div class="questions" *ngIf="toggle">
        <ul class="question-list" (click)="toggleButton()">
            <li class="question" routerLink="/question/1">Question 1</li>
            <li class="question" routerLink="/question/2">Question 2</li>
            <li class="question" routerLink="/question/3">Question 3</li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>