<div class="question-header">
    <div class="toggle-button" (click)="toggleButton()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="question-number">
        <p>Question number: 3</p>
    </div>
    <div class="questions" *ngIf="toggle">
        <ul class="question-list" (click)="toggleButton()">
            <li class="question" (click)="goToQuestion(question)" *ngFor="let question of questions">{{question.title}}</li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>